<table>
  <tr>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Employee Number:</th>
  </tr>
 
  <% @location.employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.employee_number%></td>
      <td><%= link_to 'Show', location_employee_path(employee.location, employee) %></td>
      <td><%= link_to 'Edit', edit_location_employee_path(employee.location, employee) %></td>
      <td><%= link_to 'Destroy', location_employee_path(employee.location, employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>