<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Employee #</th>
    
  </tr>
 

<tr>
    <td><%= @employee.first_name %></td>
    <td><%= @employee.last_name %></td>
    <td><%= @employee.employee_number%></td>
    <td><%= link_to 'Edit', edit_location_employee_path(@location, @employee) %></td> 
    
</tr>
</table>

<table>
  <tr>
    <th>Training Name</th>
    <th>Date</th>
  </tr>
 

<tr>
    <%@employee_trainings.each do |employee_training| %>
    <td><%= employee_training.training.name%></td>
    <td><%= employee_training.occurence%></td>
    <td><%= link_to 'Add Training', new_location_employee_training_path(@location, @employee) %>
    <td><%= link_to 'Edit', edit_employee_training_path(employee_training) %></td> 
    <%end%>
</tr>
</table>